@font-face {
    font-family: 'SNK';
    src: url("/assets/font/AlphabetSNK.ttf") format("truetype");
}
body{
    font-family: sans-serif;
    margin: 0;
    background-color: #1d2630;
}

.welcome{
    font-family: 'SNK';
    color: white;
    margin-bottom: 25px;
    font-size: 30px;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
}

.image1 {
    width: 60%;
}