@font-face {
    font-family: 'SNK';
    src: url("/assets/font/AlphabetSNK.ttf") format("truetype");
}

@font-face {
    font-family: 'Metropolis';
    src: url("/assets/font/Metropolis-Regular.otf") format("opentype");
}

.InfoHRP{
    font-family: 'SNK';
    color: color;
    font-size: 30px;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

body{
    font-family: 'Metropolis';
    font-style: bold;
    margin: 0;
    background: #1d2630;
}

video{
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.container{
    background: #1d2630;
    color: #eeeeee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    border-radius: 2vh;
    border-width: 2vh;
    padding-right: 5vh;
    padding-left: 5vh;
    line-height: 3vh;
    border: 2px solid #267591;

}
.retour{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

.button-leave{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
    background-color: #1d2630;
    padding: 15px 50px;
    margin: 0 auto;
    border: 2px solid #267591;
    border-radius: 10px;
    
}

a{
    text-decoration: none;
}
