@font-face {
    font-family: 'SNK';
    src: url("/assets/font/AlphabetSNK.ttf") format("truetype");
}
body{
    font-family: sans-serif;
    margin: 0;
    background-color: #1d2630;
    overflow-x: hidden;
    overflow-y: hidden;
}

.welcome{
    font-family: 'SNK';
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: -3vh;
}

.image1 img {
    width: 70%;
    margin-left: 4vh;
}

.image2 img {
    width: 70%;
    margin-left: 50px;
}

.firstelement{
    display: flex;
    align-items: center;
}

.intro p{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    margin: 10px;
    font-size: 2.9vh;
    color: gray;
}
.intro p a{
    text-decoration: none;
    color: cyan;
}

.intro{
    background: #1d2630;
    width: 100%;
    min-height: 10vh;
    border: 2px solid #267591;
    border-radius: 10px;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding : 8vh;
    font-family: 'SNK';
    font-size: 2vh;
    text-decoration: none;
    margin: -8px;
    
}

.article1 a{
    display: flex;
    flex-direction: column;
    width: 25vh;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
}

.article2 a{
    display: flex;
    flex-direction: column;
    width: 25vh;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
}
.article3 a{
    display: flex;
    flex-direction: column;
    width: 25vh;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: white;
}
video
{
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.music {
    display: flex;
    justify-content: center;
    padding-bottom : 20px;
    position: sticky;
    background: transparent;
    /* opacity: 0.1; */
}

audio::-webkit-media-controls-panel {
    background: transparent;
}
